Repository annuaire-entreprises-data-gouv-fr/search-infra, pull requests merged in 2024-01, with the labels that each got.

#236 [DATA-PIPELINES]chore: run cc dag only once a month
  workflows/data_pipelines/metadata/cc/DAG-get-metadata-cc.py
Labels: enhancement, data pipelines

#237 [REFACTOR]feat: add MinIOClient class
  helpers/minio_helpers.py
  helpers/update_color_file.py
  workflows/data_pipelines/elasticsearch/task_functions/fetch_db.py
  workflows/data_pipelines/elasticsearch/task_functions/sitemap.py
  workflows/data_pipelines/etl/DAG_extract_transform_load.py
  workflows/data_pipelines/etl/data_fetch_clean/etablissements.py
  workflows/data_pipelines/etl/data_fetch_clean/unite_legale.py
  workflows/data_pipelines/etl/task_functions/upload_db.py
  workflows/data_pipelines/metadata/cc/task_functions.py
  workflows/data_pipelines/rne/database/task_functions.py
  workflows/data_pipelines/rne/flux/flux_tasks.py
  workflows/data_pipelines/rne/stock/task_functions.py
  workflows/maintenance/DAG_clean_minio.py
Labels: enhancement, refactoring, clean code

#242 [DATA-PIPELINES]feat: get daily flux SIRENE
  config.py
  helpers/utils.py
  workflows/data_pipelines/sirene/flux/DAG.py
  workflows/data_pipelines/sirene/flux/task_functions.py
Labels: enhancement, data pipelines

#244 [DATA-PIPELINES][RNE]fix: lower rne flux page size
  workflows/data_pipelines/rne/flux/rne_api.py
Labels: bug, data pipelines

#246 [INDEXING]chore: move sitemap to appropriate env directory in MinIO
  workflows/data_pipelines/elasticsearch/task_functions/sitemap.py
Labels: enhancement, refactoring

#247 [DATA-PIPELINES]chore: update path source sirene flux
  helpers/minio_helpers.py
  workflows/data_pipelines/etl/data_fetch_clean/etablissements.py
  workflows/data_pipelines/etl/data_fetch_clean/unite_legale.py
Labels: enhancement, data pipelines

#243 [DATA-PIPELINES]feat: extract minimal data for all siren in RNE database
  workflows/data_pipelines/rne/database/DAG.py
  workflows/data_pipelines/rne/database/map_rne.py
  workflows/data_pipelines/rne/database/process_rne.py
  workflows/data_pipelines/rne/database/rne_model.py
  workflows/data_pipelines/rne/database/task_functions.py
  workflows/data_pipelines/rne/database/ul_model.py
Labels: enhancement, new data, data pipelines

#251 [INDEX] feat: remove index colors references
  config.py
  helpers/get_colors.py
  helpers/update_color_file.py
  workflows/data_pipelines/elasticsearch/DAG_index_data.py
  workflows/data_pipelines/elasticsearch/DAG_snapshot_data.py
  workflows/data_pipelines/elasticsearch/create_index.py
  workflows/data_pipelines/elasticsearch/indexing_unite_legale.py
  workflows/data_pipelines/elasticsearch/mapping_index.py
  workflows/data_pipelines/elasticsearch/task_functions/downstream.py
  workflows/data_pipelines/elasticsearch/task_functions/index.py
  workflows/data_pipelines/elasticsearch/task_functions/snapshot.py
  workflows/maintenance/DAG_change_api_color.py
Labels: devops

#253 [DATA-PIPELINES][RNE]feat: update flux files process
  .github/workflows/linting.yml
  config.py
  helpers/utils.py
  tests/unit_tests/test_drop_dirigeant_duplicates.py
  tests/unit_tests/test_utils.py
  workflows/data_pipelines/rne/database/process_rne.py
  workflows/data_pipelines/rne/flux/flux_tasks.py
Labels: enhancement, performance, data pipelines

#260 [FIX]Update sirene db path for sitemap creation
  workflows/data_pipelines/elasticsearch/task_functions/sitemap.py
Labels: bug
