Repository annuaire-entreprises-data-gouv-fr/search-infra, pull requests merged in 2024-11, with the labels that each got.

#420 [PERFORMANCE]chore: delay etl dag by one hour
  workflows/data_pipelines/etl/DAG_extract_transform_load.py
Labels: performance

#421 [SERVICE PUBLIC]Update service public definition
  helpers/labels/urssaf.json
  tests/unit_tests/test_data_enrichment.py
  workflows/data_pipelines/elasticsearch/data_enrichment.py
Labels: data pipelines, labels

#423 [CORE]feat: add init files to folders for package management
  __init__.py
  helpers/__init__.py
  helpers/labels/__init__.py
  tests/__init__.py
  tests/e2e_tests/__init__.py
  tests/unit_tests/__init__.py
  workflows/__init__.py
  workflows/data_pipelines/__init__.py
  workflows/data_pipelines/agence_bio/__init__.py
  workflows/data_pipelines/bilans_financiers/__init__.py
  workflows/data_pipelines/colter/__init__.py
  workflows/data_pipelines/convcollective/__init__.py
  workflows/data_pipelines/data_gouv/__init__.py
  workflows/data_pipelines/egapro/__init__.py
  workflows/data_pipelines/elasticsearch/__init__.py
  workflows/data_pipelines/elasticsearch/sqlite/__init__.py
  workflows/data_pipelines/elasticsearch/task_functions/__init__.py
  workflows/data_pipelines/ess_france/__init__.py
  workflows/data_pipelines/etl/__init__.py
  workflows/data_pipelines/etl/data_fetch_clean/__init__.py
  workflows/data_pipelines/etl/sqlite/__init__.py
  workflows/data_pipelines/etl/sqlite/queries/__init__.py
  workflows/data_pipelines/etl/task_functions/__init__.py
  workflows/data_pipelines/finess/__init__.py
  workflows/data_pipelines/formation/__init__.py
  workflows/data_pipelines/marche_inclusion/__init__.py
  workflows/data_pipelines/metadata/__init__.py
  workflows/data_pipelines/metadata/cc/__init__.py
  workflows/data_pipelines/rge/__init__.py
  workflows/data_pipelines/rne/__init__.py
  workflows/data_pipelines/rne/database/__init__.py
  workflows/data_pipelines/rne/flux/__init__.py
  workflows/data_pipelines/rne/maintenance/__init__.py
  workflows/data_pipelines/rne/stock/__init__.py
  workflows/data_pipelines/sirene/__init__.py
  workflows/data_pipelines/sirene/etab/__init__.py
  workflows/data_pipelines/sirene/flux/__init__.py
  workflows/data_pipelines/sirene/ul/__init__.py
  workflows/data_pipelines/spectacle/__init__.py
  workflows/data_pipelines/uai/__init__.py
  workflows/maintenance/__init__.py
Labels: refactoring/clean code

#424 [REFACTOR]Group `service public` whitelist
  helpers/labels/README.md
  helpers/labels/service_public_blacklist.json
  helpers/labels/service_public_whitelist.json
  workflows/data_pipelines/elasticsearch/data_enrichment.py
Labels: refactoring/clean code

#426 fix: update datetime usage in pandas
  workflows/data_pipelines/bilans_financiers/task_functions.py
Labels: bug

#425 [REFACTOR] Improve Convention Collective notification
  .gitignore
  .pre-commit-config.yaml
  config.py
  helpers/__init__.py
  helpers/notification.py
  helpers/tchap.py
  workflows/data_pipelines/metadata/cc/DAG-get-metadata-cc.py
  workflows/data_pipelines/metadata/cc/task_functions.py
Labels: bug, refactoring/clean code, data pipelines

#409 [REFACTOR]Introduce a data processor for Egapro
  config.py
  helpers/__init__.py
  helpers/data_processor.py
  helpers/notification.py
  workflows/data_pipelines/egapro/DAG.py
  workflows/data_pipelines/egapro/config.py
  workflows/data_pipelines/egapro/egapro_processor.py
  workflows/data_pipelines/egapro/task_functions.py
  workflows/data_pipelines/etl/data_fetch_clean/egapro.py
  workflows/data_pipelines/etl/task_functions/create_json_last_modified.py
Labels: refactoring/clean code

#427 [BILANS-FINANCIERS]fix: handle BOM in csv file by using utf-8-sig encoding
  workflows/data_pipelines/bilans_financiers/task_functions.py
Labels: bug, data pipelines

#430 [CONVENTIONS COLLECTIVES][METADATA] REFACTOR: remove success notification
  workflows/data_pipelines/metadata/cc/task_functions.py
Labels: refactoring/clean code

#429 [REFACTOR][FINESS]Introduce a data processor for Finess
  config.py
  helpers/data_processor.py
  workflows/data_pipelines/egapro/config.py
  workflows/data_pipelines/egapro/egapro_processor.py
  workflows/data_pipelines/etl/data_fetch_clean/finess.py
  workflows/data_pipelines/etl/task_functions/create_json_last_modified.py
  workflows/data_pipelines/finess/DAG.py
  workflows/data_pipelines/finess/config.py
  workflows/data_pipelines/finess/finess_processor.py
  workflows/data_pipelines/finess/task_functions.py
Labels: refactoring/clean code, data pipelines

#431 [REFACTOR][ESS-FRANCE]Introduce a data processor for ESS France
  config.py
  helpers/data_processor.py
  workflows/data_pipelines/egapro/egapro_processor.py
  workflows/data_pipelines/ess_france/DAG.py
  workflows/data_pipelines/ess_france/config.py
  workflows/data_pipelines/ess_france/ess_processor.py
  workflows/data_pipelines/ess_france/task_functions.py
  workflows/data_pipelines/etl/data_fetch_clean/ess_france.py
  workflows/data_pipelines/etl/task_functions/create_json_last_modified.py
  workflows/data_pipelines/finess/finess_processor.py
Labels: refactoring/clean code, data pipelines
