Repository annuaire-entreprises-data-gouv-fr/search-infra, pull requests merged in 2024-12, with the labels that each got.

#443 [BUG][FORMATION Use minio url in ETL
  workflows/data_pipelines/etl/data_fetch_clean/organisme_formation.py
Labels: bug

#445 [BUG] Fix task status of DataProcessor.download_data()
  helpers/data_processor.py
Labels: bug, data pipelines

#444 [REFACTOR][COLTER] Refactor colter dag with DataProcessor
  config.py
  workflows/data_pipelines/colter/DAG.py
  workflows/data_pipelines/colter/colter_config.py
  workflows/data_pipelines/colter/colter_dag.py
  workflows/data_pipelines/colter/colter_processor.py
  workflows/data_pipelines/colter/task_functions.py
  workflows/data_pipelines/etl/data_fetch_clean/collectivite_territoriale.py
  workflows/data_pipelines/etl/task_functions/create_json_last_modified.py
Labels: refactoring/clean code, data pipelines

#446 [BUG][COLTER] Fix dag dataset outlets
  workflows/data_pipelines/colter/colter_dag.py
Labels: bug, data pipelines
