Repository annuaire-entreprises-data-gouv-fr/search-infra, pull requests merged in 2025-07, with the labels that each got.

#541 [RNE]fix: don't use statut diffusion insee from rne
  workflows/data_pipelines/etl/sqlite/queries/unite_legale.py
Labels: bug, rne rne rne

#542 [ETL] Make etl dag fail for any task failure
  workflows/data_pipelines/etl/task_functions/create_etablissements_tables.py
  workflows/data_pipelines/etl/task_functions/create_unite_legale_tables.py
Labels: data pipelines

#546 [COLTER]fix: update colter column names
  workflows/data_pipelines/colter/processor.py
Labels: bug, data pipelines
