Repository annuaire-entreprises-data-gouv-fr/search-infra, pull requests merged in 2025-01, with the labels that each got.

#450 [REFACTOR][BILANS FINANCIERS] Use DataProcessor
  config.py
  workflows/data_pipelines/bilans_financiers/DAG.py
  workflows/data_pipelines/bilans_financiers/README.md
  workflows/data_pipelines/bilans_financiers/bilans_financiers_config.py
  workflows/data_pipelines/bilans_financiers/bilans_financiers_dag.py
  workflows/data_pipelines/bilans_financiers/bilans_financiers_processor.py
  workflows/data_pipelines/bilans_financiers/task_functions.py
  workflows/data_pipelines/etl/data_fetch_clean/bilan_financier.py
  workflows/data_pipelines/etl/task_functions/create_json_last_modified.py
Labels: refactoring/clean code, data pipelines

#451 [REFACTOR][MARCHE INCLUSION] Use DataProcessor
  config.py
  workflows/data_pipelines/etl/data_fetch_clean/marche_inclusion.py
  workflows/data_pipelines/etl/task_functions/create_json_last_modified.py
  workflows/data_pipelines/marche_inclusion/DAG.py
  workflows/data_pipelines/marche_inclusion/README.md
  workflows/data_pipelines/marche_inclusion/config.py
  workflows/data_pipelines/marche_inclusion/dag.py
  workflows/data_pipelines/marche_inclusion/processor.py
  workflows/data_pipelines/marche_inclusion/task_functions.py
Labels: refactoring/clean code, data pipelines

#453 [REFACTOR][CONVENTION COLLECTIVE] Use DataProcessor
  workflows/data_pipelines/convcollective/DAG.py
  workflows/data_pipelines/convcollective/README.md
  workflows/data_pipelines/convcollective/config.py
  workflows/data_pipelines/convcollective/dag.py
  workflows/data_pipelines/convcollective/processor.py
  workflows/data_pipelines/convcollective/task_functions.py
Labels: refactoring/clean code, data pipelines

#454 [REFACTOR] Use PEP8 file naming convention
  .gitignore
  workflows/data_pipelines/agence_bio/README.md
  workflows/data_pipelines/agence_bio/api.py
  workflows/data_pipelines/agence_bio/config.py
  workflows/data_pipelines/agence_bio/dag.py
  workflows/data_pipelines/agence_bio/processor.py
  workflows/data_pipelines/bilans_financiers/README.md
  workflows/data_pipelines/bilans_financiers/config.py
  workflows/data_pipelines/bilans_financiers/dag.py
  workflows/data_pipelines/bilans_financiers/processor.py
  workflows/data_pipelines/colter/config.py
  workflows/data_pipelines/colter/dag.py
  workflows/data_pipelines/colter/processor.py
  workflows/data_pipelines/egapro/dag.py
  workflows/data_pipelines/egapro/processor.py
  workflows/data_pipelines/ess_france/dag.py
  workflows/data_pipelines/ess_france/processor.py
  workflows/data_pipelines/etl/data_fetch_clean/agence_bio.py
  workflows/data_pipelines/etl/data_fetch_clean/bilan_financier.py
  workflows/data_pipelines/etl/data_fetch_clean/collectivite_territoriale.py
  workflows/data_pipelines/etl/data_fetch_clean/entrepreneur_spectacle.py
  workflows/data_pipelines/etl/data_fetch_clean/organisme_formation.py
  workflows/data_pipelines/etl/data_fetch_clean/uai.py
  workflows/data_pipelines/etl/task_functions/create_json_last_modified.py
  workflows/data_pipelines/finess/dag.py
  workflows/data_pipelines/finess/processor.py
  workflows/data_pipelines/formation/config.py
  workflows/data_pipelines/formation/dag.py
  workflows/data_pipelines/formation/processor.py
  workflows/data_pipelines/metadata/cc/dag.py
  workflows/data_pipelines/rge/dag.py
  workflows/data_pipelines/rge/processor.py
  workflows/data_pipelines/rne/flux/README.md
  workflows/data_pipelines/rne/stock/README.md
  workflows/data_pipelines/sirene/flux/api.py
  workflows/data_pipelines/sirene/flux/dag.py
  workflows/data_pipelines/sirene/flux/processor.py
  workflows/data_pipelines/sirene/stock/dag.py
  workflows/data_pipelines/sirene/stock/processor.py
  workflows/data_pipelines/spectacle/config.py
  workflows/data_pipelines/spectacle/dag.py
  workflows/data_pipelines/spectacle/processor.py
  workflows/data_pipelines/uai/README.md
  workflows/data_pipelines/uai/config.py
  workflows/data_pipelines/uai/dag.py
  workflows/data_pipelines/uai/processor.py
Labels: refactoring/clean code

#456 [DOCS] Update and harmonise README files
  README.md
  workflows/data_pipelines/agence_bio/README.md
  workflows/data_pipelines/bilans_financiers/README.md
  workflows/data_pipelines/colter/README.md
  workflows/data_pipelines/convcollective/README.md
  workflows/data_pipelines/egapro/README.md
  workflows/data_pipelines/ess_france/README.md
  workflows/data_pipelines/finess/README.md
  workflows/data_pipelines/formation/README.md
  workflows/data_pipelines/marche_inclusion/README.md
  workflows/data_pipelines/rge/README.md
  workflows/data_pipelines/rne/flux/README.md
  workflows/data_pipelines/rne/stock/README.md
  workflows/data_pipelines/sirene/flux/README.md
  workflows/data_pipelines/sirene/stock/README.md
  workflows/data_pipelines/spectacle/README.md
  workflows/data_pipelines/uai/README.md
Labels: documentation

#461 [CHORE]Update e2e tests
  tests/e2e_tests/response_tester.py
  tests/e2e_tests/test_api.py
Labels: testing, data pipelines

#462 [SIRENE][FLUX]fix: increase dag timeout
  workflows/data_pipelines/sirene/flux/dag.py
Labels: bug, data pipelines

#463 [BUG]fix(sirene): save flux data in chunks to avoid memory issues
  helpers/api_client.py
  workflows/data_pipelines/sirene/flux/api.py
  workflows/data_pipelines/sirene/flux/processor.py
Labels: bug, data pipelines

#465 [BILANS-FINANCIERS]chore: increase dag timeout
  workflows/data_pipelines/bilans_financiers/dag.py
Labels: bug, data pipelines

#466 [REFACTOR][RNE][STOCK]Use DataProcessor
  workflows/data_pipelines/rne/stock/DAG.py
  workflows/data_pipelines/rne/stock/config.py
  workflows/data_pipelines/rne/stock/processor.py
  workflows/data_pipelines/rne/stock/task_functions.py
Labels: refactoring/clean code, data pipelines, rne rne rne

#464 [REFACTOR][ETL][AGENCE BIO] Use DataProcessor
  config.py
  helpers/__init__.py
  helpers/data_processor.py
  helpers/database_constructor.py
  helpers/sqlite_client.py
  helpers/utils.py
  workflows/data_pipelines/agence_bio/config.py
  workflows/data_pipelines/agence_bio/processor.py
  workflows/data_pipelines/etl/dag.py
  workflows/data_pipelines/etl/data_fetch_clean/agence_bio.py
  workflows/data_pipelines/etl/sqlite/queries/agence_bio.py
  workflows/data_pipelines/etl/task_functions/create_additional_data_tables.py
  workflows/data_pipelines/etl/task_functions/create_sqlite_database.py
Labels: refactoring/clean code, data pipelines

#470 [BUG]fix: convention collective minio url in etl
  config.py
  workflows/data_pipelines/etl/data_fetch_clean/convention_collective.py
  workflows/data_pipelines/etl/task_functions/create_json_last_modified.py
Labels: bug, data pipelines

#471 [RNE] chore: update role entreprise mapping
  helpers/labels/roles_dirigeants.json
Labels: data pipelines, rne rne rne

#473 [BUG]fix: update e2e test in indexing workflow
  tests/e2e_tests/test_api.py
Labels: bug
