Repository annuaire-entreprises-data-gouv-fr/search-infra, pull requests merged in 2025-04, with the labels that each got.

#505 Stop minio connecting during parsing
  helpers/data_processor.py
  helpers/filesystem.py
  helpers/minio_helpers.py
  workflows/data_pipelines/data_gouv/processor.py
  workflows/data_pipelines/elasticsearch/task_functions/fetch_db.py
  workflows/data_pipelines/elasticsearch/task_functions/sitemap.py
  workflows/data_pipelines/elasticsearch/task_functions/snapshot.py
  workflows/data_pipelines/elasticsearch/task_functions/source_updates.py
  workflows/data_pipelines/etl/data_fetch_clean/etablissements.py
  workflows/data_pipelines/etl/data_fetch_clean/unite_legale.py
  workflows/data_pipelines/etl/task_functions/create_dirig_benef_tables.py
  workflows/data_pipelines/etl/task_functions/create_json_last_modified.py
  workflows/data_pipelines/etl/task_functions/upload_db.py
  workflows/data_pipelines/metadata/cc/task_functions.py
  workflows/data_pipelines/rne/database/task_functions.py
  workflows/data_pipelines/rne/flux/flux_tasks.py
  workflows/data_pipelines/rne/maintenance/task_functions.py
  workflows/maintenance/DAG_clean_minio.py
Labels: bug

#507 [NEW_DATA] Add label achats responsables to the index
  tests/e2e_tests/test_api.py
  workflows/data_pipelines/achats_responsables/README.md
  workflows/data_pipelines/achats_responsables/__init__.py
  workflows/data_pipelines/achats_responsables/config.py
  workflows/data_pipelines/achats_responsables/dag.py
  workflows/data_pipelines/achats_responsables/processor.py
  workflows/data_pipelines/data_gouv/processor.py
  workflows/data_pipelines/data_gouv/queries.py
  workflows/data_pipelines/elasticsearch/mapping_index.py
  workflows/data_pipelines/elasticsearch/process_unites_legales.py
  workflows/data_pipelines/elasticsearch/sqlite/fields_to_index.py
  workflows/data_pipelines/etl/dag.py
  workflows/data_pipelines/etl/task_functions/create_json_last_modified.py
Labels: new data, es mapping, data pipelines

#510 [ESPACE-AGENT]chore: update whitelist administration
  helpers/labels/administration_L100-3_siren_whitelist.json
  helpers/labels/administration_siren_whitelist.json
Labels: labels

#506 [ETL] Add validations to unités légales and etablissements tables
  config.py
  helpers/filesystem.py
  helpers/minio_helpers.py
  helpers/notification.py
  workflows/data_pipelines/agence_bio/processor.py
  workflows/data_pipelines/etl/dag.py
  workflows/data_pipelines/etl/task_functions/validation.py
Labels: data quality

#514 [Administration][EspaceAgent]chore: add `L'Agence bio` to L100-3 list
  helpers/labels/administration_L100-3_siren_whitelist.json
Labels: open data, espace-agent

#511 [NEW-DATA]Index Patrimoine Vivant data
  workflows/data_pipelines/data_gouv/processor.py
  workflows/data_pipelines/elasticsearch/mapping_index.py
  workflows/data_pipelines/elasticsearch/process_unites_legales.py
  workflows/data_pipelines/elasticsearch/sqlite/fields_to_index.py
  workflows/data_pipelines/etl/dag.py
  workflows/data_pipelines/etl/task_functions/create_json_last_modified.py
  workflows/data_pipelines/patrimoine_vivant/README.md
  workflows/data_pipelines/patrimoine_vivant/__init__.py
  workflows/data_pipelines/patrimoine_vivant/config.py
  workflows/data_pipelines/patrimoine_vivant/dag.py
  workflows/data_pipelines/patrimoine_vivant/processor.py
Labels: new data, es mapping, data pipelines, open data

#515 [BUG][ETL][FLUX.SIRENE] minio path
  workflows/data_pipelines/sirene/flux/config.py
Labels: bug

#516 [BUG][PUBLISH_TO_DATAGOUV] est_patrimoine_vivant
  workflows/data_pipelines/data_gouv/queries.py
Labels: bug

#517 [COLTER] Replace banatic dataset
  helpers/data_processor.py
  helpers/datagouv.py
  helpers/utils.py
  workflows/data_pipelines/colter/README.md
  workflows/data_pipelines/colter/config.py
  workflows/data_pipelines/colter/dag.py
  workflows/data_pipelines/colter/processor.py
Labels: bug

#518 [ETL]chore: remove beneficiaires effectifs tables
  workflows/data_pipelines/elasticsearch/data_enrichment.py
  workflows/data_pipelines/elasticsearch/mapping_index.py
  workflows/data_pipelines/elasticsearch/process_unites_legales.py
  workflows/data_pipelines/elasticsearch/sqlite/fields_to_index.py
  workflows/data_pipelines/etl/dag.py
  workflows/data_pipelines/etl/sqlite/queries/beneficiaires.py
  workflows/data_pipelines/etl/task_functions/create_dirig_tables.py
  workflows/data_pipelines/rne/database/map_rne.py
  workflows/data_pipelines/rne/database/process_rne.py
  workflows/data_pipelines/rne/database/rne_model.py
  workflows/data_pipelines/rne/database/task_functions.py
  workflows/data_pipelines/rne/database/ul_model.py
Labels: performance, data pipelines, rne rne rne
