Repository annuaire-entreprises-data-gouv-fr/search-infra, pull requests merged in 2025-03, with the labels that each got.

#493 [BUG][SIRENE.FLUX] Fix notification count
  .gitignore
  workflows/data_pipelines/sirene/flux/processor.py
Labels: bug, data pipelines

#494 [PUBLISH_DATAGOUV] Add orga consulaire to L103 list
  .github/workflows/linting.yml
  .pre-commit-config.yaml
  workflows/data_pipelines/data_gouv/processor.py
Labels: data pipelines

#500 [Administration]Index `est_l100_3` field
  helpers/labels/administration_L100-3_nature_juridique_exclue.json
  helpers/labels/administration_L100-3_siren_whitelist.json
  helpers/labels/administration_nature_juridique.json
  helpers/labels/administration_siren_blacklist.json
  helpers/labels/administration_siren_whitelist.json
  helpers/utils.py
  tests/e2e_tests/test_api.py
  workflows/data_pipelines/data_gouv/processor.py
  workflows/data_pipelines/data_gouv/task_functions.py
  workflows/data_pipelines/elasticsearch/data_enrichment.py
  workflows/data_pipelines/elasticsearch/mapping_index.py
  workflows/data_pipelines/elasticsearch/process_unites_legales.py
Labels: new data, es mapping, open data, labels

#502 Prepare MinIO to accept dev-02 or dev-01 as new AIRFLOW_ENV variable
  workflows/data_pipelines/elasticsearch/task_functions/sitemap.py
Labels: ops
