Repository annuaire-entreprises-data-gouv-fr/search-infra, pull requests merged in 2025-02, with the labels that each got.

#480 [NEW DATA][RNE]Add `etablissement` and `activite` data to rne db
  workflows/data_pipelines/rne/database/map_rne.py
  workflows/data_pipelines/rne/database/process_rne.py
  workflows/data_pipelines/rne/database/rne_model.py
  workflows/data_pipelines/rne/database/ul_model.py
Labels: new data, rne rne rne

#467 [REFACTOR][ETL] Refactor all additional data sources
  workflows/data_pipelines/agence_bio/config.py
  workflows/data_pipelines/bilans_financiers/config.py
  workflows/data_pipelines/colter/config.py
  workflows/data_pipelines/colter/processor.py
  workflows/data_pipelines/convcollective/config.py
  workflows/data_pipelines/egapro/config.py
  workflows/data_pipelines/egapro/processor.py
  workflows/data_pipelines/ess_france/config.py
  workflows/data_pipelines/etl/dag.py
  workflows/data_pipelines/etl/data_fetch_clean/bilan_financier.py
  workflows/data_pipelines/etl/data_fetch_clean/collectivite_territoriale.py
  workflows/data_pipelines/etl/data_fetch_clean/convention_collective.py
  workflows/data_pipelines/etl/data_fetch_clean/egapro.py
  workflows/data_pipelines/etl/data_fetch_clean/entrepreneur_spectacle.py
  workflows/data_pipelines/etl/data_fetch_clean/ess_france.py
  workflows/data_pipelines/etl/data_fetch_clean/finess.py
  workflows/data_pipelines/etl/data_fetch_clean/marche_inclusion.py
  workflows/data_pipelines/etl/data_fetch_clean/organisme_formation.py
  workflows/data_pipelines/etl/data_fetch_clean/rge.py
  workflows/data_pipelines/etl/data_fetch_clean/uai.py
  workflows/data_pipelines/etl/sqlite/helpers.py
  workflows/data_pipelines/etl/sqlite/queries/bilan_financier.py
  workflows/data_pipelines/etl/sqlite/queries/colter.py
  workflows/data_pipelines/etl/sqlite/queries/convention_collective.py
  workflows/data_pipelines/etl/sqlite/queries/egapro.py
  workflows/data_pipelines/etl/sqlite/queries/entrepreneur_spectacle.py
  workflows/data_pipelines/etl/sqlite/queries/ess_france.py
  workflows/data_pipelines/etl/sqlite/queries/finess.py
  workflows/data_pipelines/etl/sqlite/queries/marche_inclusion.py
  workflows/data_pipelines/etl/sqlite/queries/organisme_formation.py
  workflows/data_pipelines/etl/sqlite/queries/rge.py
  workflows/data_pipelines/etl/sqlite/queries/uai.py
  workflows/data_pipelines/etl/task_functions/create_additional_data_tables.py
  workflows/data_pipelines/etl/task_functions/send_notification.py
  workflows/data_pipelines/finess/config.py
  workflows/data_pipelines/formation/config.py
  workflows/data_pipelines/formation/processor.py
  workflows/data_pipelines/marche_inclusion/config.py
  workflows/data_pipelines/marche_inclusion/processor.py
  workflows/data_pipelines/rge/config.py
  workflows/data_pipelines/spectacle/config.py
  workflows/data_pipelines/spectacle/processor.py
  workflows/data_pipelines/uai/config.py
  workflows/data_pipelines/uai/processor.py
Labels: refactoring/clean code, data pipelines

#472 [BUG] Fix get flux etablissements RAM usage issue
  helpers/data_processor.py
  helpers/utils.py
  workflows/data_pipelines/agence_bio/processor.py
  workflows/data_pipelines/bilans_financiers/processor.py
  workflows/data_pipelines/convcollective/processor.py
  workflows/data_pipelines/egapro/processor.py
  workflows/data_pipelines/ess_france/processor.py
  workflows/data_pipelines/finess/processor.py
  workflows/data_pipelines/formation/processor.py
  workflows/data_pipelines/marche_inclusion/processor.py
  workflows/data_pipelines/rge/processor.py
  workflows/data_pipelines/sirene/flux/api.py
  workflows/data_pipelines/sirene/flux/processor.py
  workflows/data_pipelines/spectacle/processor.py
  workflows/data_pipelines/uai/processor.py
Labels: bug, data pipelines

#483 [BUG][SIRENE.FLUX] Don't pull today's data
  helpers/utils.py
  workflows/data_pipelines/sirene/flux/README.md
  workflows/data_pipelines/sirene/flux/processor.py
Labels: bug, data pipelines

#484 [BUG][UAI] Notification push
  workflows/data_pipelines/uai/processor.py
Labels: bug, data pipelines

#488 [DEPS]chore: update python version in Actions
  .github/workflows/linting.yml
Labels: ops

#490 [BUG]fix: add etat administratif to is_servfice_public calls
  workflows/data_pipelines/data_gouv/task_functions.py
  workflows/data_pipelines/elasticsearch/process_unites_legales.py
Labels: bug

#486 [BUG][SIRENE.FLUX] Handle siren.t with multiple updates
  helpers/utils.py
  workflows/data_pipelines/sirene/flux/processor.py
Labels: bug, data pipelines
