Repository annuaire-entreprises-data-gouv-fr/search-infra, pull requests merged in 2025-05, with the labels that each got.

#525 [BUG]Sirene flux is skipped the 2nd of every month
  workflows/data_pipelines/sirene/flux/dag.py
Labels: bug

#526 [Notifications]chore: send Mattermost failure notif if snapshot fail
  workflows/data_pipelines/elasticsearch/DAG_snapshot_data.py
Labels: data pipelines

#523 [RNE][UPDATE]Update rne flux date
  config.py
  workflows/data_pipelines/rne/stock/DAG.py
  workflows/data_pipelines/rne/stock/processor.py
Labels: data pipelines, open data, rne rne rne

#528 [Bug][Spectacle-Vivant]fix: update column names
  helpers/utils.py
  workflows/data_pipelines/spectacle/README.md
  workflows/data_pipelines/spectacle/processor.py
Labels: bug, data pipelines

#521 [ALIM'CONFIANCE] Add alim'confiance to ES index
  tests/e2e_tests/test_api.py
  workflows/data_pipelines/alim_confiance/README.md
  workflows/data_pipelines/alim_confiance/__init__.py
  workflows/data_pipelines/alim_confiance/config.py
  workflows/data_pipelines/alim_confiance/dag.py
  workflows/data_pipelines/alim_confiance/processor.py
  workflows/data_pipelines/data_gouv/processor.py
  workflows/data_pipelines/data_gouv/queries.py
  workflows/data_pipelines/elasticsearch/mapping_index.py
  workflows/data_pipelines/elasticsearch/process_unites_legales.py
  workflows/data_pipelines/elasticsearch/sqlite/fields_to_index.py
  workflows/data_pipelines/etl/dag.py
  workflows/data_pipelines/etl/task_functions/create_json_last_modified.py
Labels: new data, es mapping, data pipelines, open data

#529 [Administration][Espace-Agent]chore: update liste L100-3 with DS files
  helpers/labels/administration_L100-3_siren_whitelist.json
  helpers/labels/administration_siren_whitelist.json
Labels: espace-agent

#534 [BUG][ELASTIC SNAPSHOT] Fix timeout issue
  workflows/data_pipelines/elasticsearch/task_functions/snapshot.py
Labels: bug
